{% import 'macros.html' as macros %}

    <!-- Delete Confirmation Modal -->
    <div class="modal fade" id="deleteMedicalHistoryModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header justify-content-center">
                    <h5 class="modal-title text-center">Επιβεβαίωση Διαγραφής</h5>
                </div>
                <div class="modal-body">
                    <p class="text-center">Είστε σίγουροι ότι θέλετε να διαγράψετε το ιατρικό ιστορικό της {{ patient.first_name | proper_case }} {{ patient.last_name | proper_case }};</p>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-outline-light px-4" data-bs-dismiss="modal">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="20" fill="currentColor" class="bi bi-x-square" viewBox="0 1 16 16">
                            <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                        </svg>
                        Ακύρωση
                    </button>
                    <button type="button" class="btn btn-danger px-4" onclick="confirmDeleteMedicalHistory()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="20" fill="currentColor" class="bi bi-trash3" viewBox="0 1 16 16">
                            <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
                        </svg>
                        Διαγραφή
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12">
        <div class="card card-cover inherit-text-color bg-transparent rounded-4 shadow-lg">
            <div class="d-flex flex-column h-100 text-shadow-1">

                <!-- New content with slider card -->
                <div class="container px-0 ">
                    <div class="form-container" style="position: relative; transition: max-height 0.2s ease-in-out;" id="formContainerHistoryMedical">
                        {% if medical_history_dict %}
                        <div class="read-only read-only-labels p-4" id="readOnlyContentHistoryMedical">
                            <h3 class="text-center mt-2">Γενικά Σχόλια</h3>

                            <pre class="formatted-text zd">{{ medical_history_form.comments.data }}</pre>

                            <h3 class="text-center mt-2 zd-bottom">Ιατρικό Ιστορικό</h3>
                            <div class="row py-2">
                                <div class="col-12 col-lg-6 px-4">
                                                {% set form_elements = ['weight', 'height', 'bmi'] %}

                                                {% for element in form_elements %}
                                                    {{ macros.render_field(getattr(medical_history_form, element).label, getattr(medical_history_form, element).data) }}
                                                {% endfor %}

                                                <h3 class="text-center mt-2 zd-bottom">Παθολογικές Καταστάσεις</h3>

                                                {% set form_elements = ['heart_disease', 'hypertension', 'diabetes', 'nephropathy', 'liver_disease', 'thyroeidopatheia', 'other_diseases', 'medication'] %}

                                                {% for element in form_elements %}
                                                    {% set field = getattr(medical_history_form, element) %}
                                                    {{ macros.render_field(field.label, field.data, field.type) }}
                                                {% endfor %}
                                </div>
                                <div class="col-12 col-lg-6 px-4">
                                                {% set form_elements = ['surgeries', 'alcohol', 'transfusions_yn', 'transfusions_reactions'] %}

                                                {% for element in form_elements %}
                                                    {% if element.endswith('_yn')%}
                                                        {{ macros.render_field(getattr(medical_history_form, element).label, "Ναι" if getattr(medical_history_form, element).data else "Όχι") }}
                                                    {% else %}
                                                        {% set field = getattr(medical_history_form, element) %}
                                                        {{ macros.render_field(field.label, field.data, field.type) }}
                                                    {% endif %}
                                                {% endfor %}

                                                <h3 class="text-center mt-2 zd-bottom">Κάπνισμα</h3>
                                                {% set form_elements = ['smoking_before', 'smoking_during'] %}

                                                {% for element in form_elements %}
                                                    {% set field = getattr(medical_history_form, element) %}
                                                    {{ macros.render_field(field.label, field.data, field.type) }}
                                                {% endfor %}

                                                <h3 class="text-center mt-2 zd-bottom">Αλλεργίες</h3>
                                                {% set form_elements = ['allergies_yn', 'allergies_to_med', 'allergies_other'] %}

                                                {% for element in form_elements %}
                                                    {% if element.endswith('_yn')%}
                                                        {{ macros.render_field(getattr(medical_history_form, element).label, "Ναι" if getattr(medical_history_form, element).data else "Όχι") }}
                                                    {% else %}
                                                        {{ macros.render_field(getattr(medical_history_form, element).label, getattr(medical_history_form, element).data) }}
                                                    {% endif %}
                                                {% endfor %}
                                </div>
                            </div>
                            <div class="row py-2">
                                <div class="col-12 px-4">
                                                <h3 class="text-center mt-2 zd-bottom">Σύντομο Γυναικολογικό Ιστορικό</h3>
                                                {% set form_elements = ['test_pap', 'da', 'calt_vag_fluid'] %}

                                                {% if medical_history_form.er_start.data %}
                                                    <span>{{ medical_history_form.er_start.label }}</span>
                                                    {{ medical_history_form.er_start.data }}
                                                    ({{ medical_history_form.er_nominator.data }}/{{ medical_history_form.er_denominator.data }})
                                                    <br>
                                                {% endif%}

                                                {% for element in form_elements %}
                                                    {{ macros.render_field(getattr(medical_history_form, element).label, getattr(medical_history_form, element).data) }}
                                                {% endfor %}
                                </div>
                            </div>


                            <div class="d-flex flex-wrap justify-content-end gap-2 mt-3">
                                <button type="button" class="btn btn-outline-secondary px-4" data-edit-button="true" onclick="toggleEditMode('HistoryMedical')">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="20" fill="currentColor" class="bi bi-pencil-square" viewBox="0 1 16 16">
                                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                                    </svg>
                                    Επεξεργασία
                                </button>
                                <button type="button" class="btn btn-outline-danger px-4" onclick="showDeleteMedicalHistoryModal()">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="20" fill="currentColor" class="bi bi-trash3" viewBox="0 1 16 16">
                                        <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
                                    </svg>
                                </button>
                            </div>

                        </div>
                        {% else %}
                            <div class="read-only read-only-labels p-4" id="readOnlyContentHistoryMedical">
                                <p>Δεν υπάρχει καταγεγραμμένο ιατρικό ιστορικό για τον ασθενή {{ patient.first_name | proper_case }} {{ patient.last_name | proper_case }}. Για να δημιουργήσετε νέο ιατρικό ιστορικό, παρακαλώ πατήστε το κουμπί παρακάτω.</p>
                                <button type="button" class="btn btn-outline-secondary px-4" data-edit-button="true" onclick="toggleEditMode('HistoryMedical')">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="20" fill="currentColor" class="bi bi-plus-square" viewBox="0 1 16 16">
                                        <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
                                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                                    </svg>
                                    Δημιουργία Νέου Ιατρικού Ιστορικού
                                </button>
                            </div>
                        {% endif %}
                        <div class="editable card card-cover rounded-4 shadow-lg" id="editableContentHistoryMedical" style="display: none;">
                            <div class="d-flex flex-column p-3 text-shadow-1">
                                <div class="wrapper">
                                    <div class="form-wrapper patient-lite px-2">
                                        <form method="POST" id="medicalHistoryForm" data-history-id="{{ medical_history_form.id.data if medical_history_form else '' }}">

                                            {{ medical_history_form.hidden_tag() }}
                                            {{ medical_history_form.id(type="hidden") }}
                                            <h2 class="text-center mt-2">Γενικά Σχόλια</h2>

                                            {% set form_elements = ['comments'] %}

                                            {% for element in form_elements %}
                                                {% set field = getattr(medical_history_form, element) %}
                                                {% if field.type != 'HiddenField' %}
                                                    {{ macros.input_group(field.name, {'type': field.type, 'label': ''}, field.data) }}
                                                {% endif %}
                                            {% endfor %}
                                            <h2 class="text-center mt-5 zd-bottom">Ιατρικό Ιστορικό</h2>
                                            <div class="row py-2">
                                                <div class="col-12 col-lg-6 px-4">
                                                    {% set form_elements = ['weight', 'height'] %}

                                                    {% for element in form_elements %}
                                                        {% set field = getattr(medical_history_form, element) %}
                                                        {% if field.type != 'HiddenField' %}
                                                            {{ macros.input_group(field.name, {'type': field.type, 'label': field.label.text}, field.data) }}
                                                        {% endif %}
                                                    {% endfor %}

                                                    <h2 class="text-center mt-2 zd-bottom">Παθολογικές Καταστάσεις</h2>

                                                    {% set form_elements = ['heart_disease', 'hypertension', 'diabetes', 'nephropathy', 'liver_disease', 'thyroeidopatheia', 'other_diseases', 'medication'] %}
                                                    {% for element in form_elements %}
                                                        {% set field = getattr(medical_history_form, element) %}
                                                        {% if field.type != 'HiddenField' %}
                                                            {{ macros.input_group(field.name, {'type': field.type, 'label': field.label.text}, field.data) }}
                                                        {% endif %}
                                                    {% endfor %}
                                                </div>
                                                <div class="col-12 col-lg-6 px-4">
                                                    {% set form_elements = ['surgeries', 'alcohol', 'transfusions_yn', 'transfusions_reactions'] %}
                                                    {% for element in form_elements %}
                                                        {% set field = getattr(medical_history_form, element) %}
                                                        {% if field.type != 'HiddenField' %}
                                                            {{ macros.input_group(field.name, {'type': field.type, 'label': field.label.text}, field.data) }}
                                                        {% endif %}
                                                    {% endfor %}
                                                    <h2 class="text-center mt-2 zd-bottom">Κάπνισμα</h2>
                                                       {% set form_elements = ['smoking_before', 'smoking_during'] %}
                                                       {% for element in form_elements %}
                                                           {% set field = getattr(medical_history_form, element) %}
                                                           {% if field.type != 'HiddenField' %}
                                                               {{ macros.input_group(field.name, {'type': field.type, 'label': field.label.text}, field.data) }}
                                                           {% endif %}
                                                       {% endfor %}

                                                    <h2 class="text-center mt-2 zd-bottom">Αλλεργίες</h2>
                                                        {% set form_elements = ['allergies_yn', 'allergies_to_med', 'allergies_other'] %}
                                                        {% for element in form_elements %}
                                                            {% set field = getattr(medical_history_form, element) %}
                                                            {% if field.type != 'HiddenField' %}
                                                                {{ macros.input_group(field.name, {'type': field.type, 'label': field.label.text}, field.data) }}
                                                            {% endif %}
                                                        {% endfor %}
                                                </div>
                                            </div>
                                            <div class="row py-2">
                                                <div class="col-12 px-4">
                                                    <h2 class="text-center mt-2 zd-bottom">Σύντομο Γυναικολογικό Ιστορικό</h2>
                                                        {% set form_elements = ['test_pap', 'da', 'calt_vag_fluid'] %}
                                                        {% for element in form_elements %}
                                                            {% set field = getattr(medical_history_form, element) %}
                                                            {% if field.type != 'HiddenField' %}
                                                                {{ macros.input_group(field.name, {'type': field.type, 'label': field.label.text}, field.data) }}
                                                            {% endif %}
                                                        {% endfor %}
                                                </div>
                                            </div>
                                            <div class="d-flex flex-wrap justify-content-center gap-2 mt-3">
                                                <button type="button" class="btn login-btn px-4" onclick="saveChangesHistoryMedical()">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="20" fill="currentColor" class="bi bi-floppy" viewBox="0 1 16 16">
                                                        <path d="M11 2H9v3h2z"/>
                                                        <path d="M1.5 0h11.586a1.5 1.5 0 0 1 1.06.44l1.415 1.414A1.5 1.5 0 0 1 16 2.914V14.5a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 14.5v-13A1.5 1.5 0 0 1 1.5 0M1 1.5v13a.5.5 0 0 0 .5.5H2v-4.5A1.5 1.5 0 0 1 3.5 9h9a1.5 1.5 0 0 1 1.5 1.5V15h.5a.5.5 0 0 0 .5-.5V2.914a.5.5 0 0 0-.146-.353l-1.415-1.415A.5.5 0 0 0 13.086 1H13v4.5A1.5 1.5 0 0 1 11.5 7h-7A1.5 1.5 0 0 1 3 5.5V1H1.5a.5.5 0 0 0-.5.5m3 4a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5V1H4zM3 15h10v-4.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5z"/>
                                                    </svg>
                                                    Αποθήκευση
                                                </button>
                                                <button type="button" class="btn btn-outline-secondary px-4" onclick="cancelChanges()">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="20" fill="currentColor" class="bi bi-x-square" viewBox="0 1 16 16">
                                                        <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
                                                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                                                    </svg>
                                                    Ακύρωση
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                <!-- end of new content with slider card -->

            </div>
        </div>
    </div>


{% block tab_javascript %}
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
<script src="https://cdn.quilljs.com/1.3.6/quill.min.js"></script>
<script>

    function showDeleteMedicalHistoryModal() {
        const deleteModal = new bootstrap.Modal(document.getElementById('deleteMedicalHistoryModal'));
        deleteModal.show();
    }

    async function confirmDeleteMedicalHistory() {
        const form = document.getElementById('medicalHistoryForm');
        const historyId = form.querySelector('input[name="id"]').value;
        try {
            const response = await fetch(`/api/medical-history/${historyId}`, {
                method: 'DELETE',
                headers: { 'Content-Type': 'application/json' }
            });

            if (!response.ok) throw new Error('Delete failed');

            const result = await response.json();
            if (result.success) {
                // Remember the active pill before reload so we can restore it
                try { sessionStorage.setItem('lastActiveTab', '#pills-history_medical'); } catch (e) {}
                location.reload();
            } else {
                throw new Error(result.error || 'Unknown error');
            }
        } catch (error) {
            console.error('Delete error:', error);
            alert('Αποτυχία διαγραφής ιατρικού ιστορικού: ' + error.message);
        }
    }

    // Scoped submit handler: only attach to the medical history form (avoid hijacking navbar search form)
    document.addEventListener('DOMContentLoaded', () => {
        const medicalForm = document.getElementById('medicalHistoryForm');
        if (medicalForm) {
            medicalForm.addEventListener('submit', function(e) {
                // Allow existing logic (if any) to control preventing default; here we just ensure hidden content sync.
                const hiddenField = document.getElementById('hidden-content');
                if (hiddenField && window.quill && quill.root) {
                    hiddenField.value = quill.root.innerHTML;
                }
            });
        }
    });

    function toggleEditMode(sectionType) {
        const formContainer = document.getElementById(`formContainer${sectionType}`);
        const readOnlyContent = document.getElementById(`readOnlyContent${sectionType}`);
        const editableContent = document.getElementById(`editableContent${sectionType}`);

        if (editableContent.style.display === 'none') {
            editableContent.style.display = 'block';
            readOnlyContent.style.display = 'none';
            formContainer.style.maxHeight = editableContent.scrollHeight + 'px';
            disableAllEditButtons();
        } else {
            editableContent.style.display = 'none';
            readOnlyContent.style.display = 'block';
            formContainer.style.maxHeight = readOnlyContent.scrollHeight + 'px';
            enableAllEditButtons();
        }
    }

    async function saveChangesHistoryMedical() {
        try {
            // Get form and mandatory fields
            const form = document.getElementById('medicalHistoryForm');
            const historyId = form.querySelector('input[name="id"]').value;
            const patientId = '{{ patient.id }}';
            // console.log('patientId:', patientId);
            const csrfToken = form.querySelector('input[name="csrf_token"]').value;

            // Get form data
            const formData = new FormData(form);

            // Convert FormData to JSON
            const formDataJson = {};
            formData.forEach((value, key) => {
                formDataJson[key] = value;
            });

            // console.log('formDataJson:', formDataJson);

            let response;
            if (historyId) {
                // Send PUT request (update existing)
                response = await fetch(`/api/medical-history/${historyId}`, {
                    method: 'PUT',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrfToken
                    },
                    body: JSON.stringify(formDataJson)
                });
            } else {
                // Send POST request (create new)
                formDataJson['patient_id'] = patientId;
                response = await fetch(`/api/medical-history`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrfToken
                    },
                    body: JSON.stringify(formDataJson)
                });
            }

            if (!response.ok) {
                throw new Error(`HTTP error! status: ${response.status}`);
            }

            const result = await response.json();

            if (result.success) {
                // Remember the active pill before reload so we can restore it
                try { sessionStorage.setItem('lastActiveTab', '#pills-history_medical'); } catch (e) {}
                // refresh the page
                location.reload();
                toggleEditMode('HistoryMedical');
            } else {
                throw new Error(result.error || 'Failed to save changes');
            }
        } catch (error) {
            console.error('Error:', error);
            alert('Error saving changes: ' + error.message);
        }
    }

    // Auto-resize helper to apply to all expanding textareas (id or class based)
    function initAutoResizeTextareas(scope=document) {
        const textareas = new Set();
        scope.querySelectorAll('textarea.expanding-textarea').forEach(t => textareas.add(t));
        const comments = scope.getElementById ? scope.getElementById('comments-textarea') : null;
        if (comments) textareas.add(comments);
        textareas.forEach(ta => {
            if (!ta) return;
            // Remove border on parent input-group if present
            if (ta.parentElement && ta.parentElement.classList.contains('input-group')) {
                ta.parentElement.style.borderBottom = 'none';
            }
            const apply = () => {
                ta.style.overflow = 'hidden';
                ta.style.resize = 'none';
                ta.style.height = 'auto';
                ta.style.height = ta.scrollHeight + 'px';
            };
            if (!ta._autoResizeBound) {
                ta.addEventListener('input', apply);
                ta._autoResizeBound = true;
            }
            apply();
        });
    }

    // Patch toggleEditMode to trigger auto-resize immediately when entering edit mode
    const originalToggleEditMode = toggleEditMode;
    toggleEditMode = function(sectionType) {
        originalToggleEditMode(sectionType);
        if (sectionType === 'HistoryMedical') {
            // Delay a tick to allow display changes to affect scrollHeight
            setTimeout(() => initAutoResizeTextareas(document.getElementById('editableContentHistoryMedical')), 0);
        }
    };

    // Run once on load in case form starts in edit mode (or for pre-rendered content)
    document.addEventListener('DOMContentLoaded', () => initAutoResizeTextareas());

</script>
<script>
// Bulletproof textarea auto-resize: runs on any click, and on input
document.addEventListener('click', function() {
    // Collect all relevant textareas (by ID and by class)
    var textareas = Array.from(document.querySelectorAll('.expanding-textarea'));
    var taById = document.getElementById('comments-textarea');
    if (taById && !textareas.includes(taById)) {
        textareas.push(taById);
    }
    textareas.forEach(function(ta) {
        // Remove border-bottom from parent .input-group
        if (ta && ta.parentElement && ta.parentElement.classList.contains('input-group')) {
            ta.parentElement.style.borderBottom = 'none';
        }

        if (ta && !ta._autoResizeBound) {
            ta.style.height = 'auto';
            ta.style.height = ta.scrollHeight + 'px';
            ta.addEventListener('input', function() {
                this.style.height = 'auto';
                this.style.height = this.scrollHeight + 'px';
            });
            ta._autoResizeBound = true;
        }
    });
});
</script>
{% endblock %}
