{% extends "base.html" %} {% block page_title %} Αρχική Σελίδα {% endblock %} {%
block content %}

    {% if current_user.is_authenticated %}

    <main class="flex-shrink-0 m-auto py-3 flex-grow-1 bg-dark">
        
        <div class="container px-4 pt-3 " id="custom-cards">
     
          <div class="row row-cols-1 row-cols-lg-2 align-items-stretch g-4 py-4 text-bg-dark mt-1">
      
            <div class="col-12 col-lg-8 order-1 order-lg-1 text-light">
              <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-color: #EF539E;">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                  <h3 class="pt-0 mt-0 mb-4 lh-1" style="font-weight: 100;">{{ quote[0]['content']}}</h3>
                  <small class="ms-auto" style="font-style: italic">{{ quote[0]['author']}}</small>
                </div>
              </div>
            </div>
       
            <div class="col-12 col-md-6 col-lg-4 order-lg-2">
              <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-color: #F3E1D7;">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                  <h3 class="pt-0 mt-0 mb-4 display-6 lh-1 fw-bold">
                    {{ weather['current']['temperature'] }}°C
                    <img src="../static/_online_assets/weather_icons/{{ weather['current']['icon_num']}}.png" alt=""/>
                  </h3>
                  <p>{{ weather['daily']['data'][0]['summary'] }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        
        <div class="zd pt-5 container px-4 text-light" id="icon-grid">
          {% if calendar_events | length > 0 %}
          <h2 class="pb-2 text-center" style="font-weight: 100; color: #EF539E;">There are {{ calendar_events | length }} scheduled appointments for today!</h2>
      
          <div class="zd row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 pt-4">
            {% for event in calendar_events %}
            {% set vevent = event.vobject_instance.vevent %}
            <div class="col d-flex align-items-start">
              <div>
                <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">{{ vevent.summary.value }}</h3>
                <p>
                  {% if vevent.description %}
                    {{ vevent.description.value }}
                  {% else %}
                      No description available
                  {% endif %}
                </p>
                <p>
                  <small class="text-muted">{{ vevent.dtstart.value }}</small>
                </p>
              </div>
            </div>
            {% endfor %}
          </div>

          {% else %}
          <h2 class="pb-2 border-bottom">No appointments today</h2>
          {% endif %}
        </div>

    </main>



    

    {% else %}
    <main class="form-signin w-100 m-auto pt-5">
      <img class="mb-4 mx-auto d-block" src="../static/_online_assets/logo.svg" alt="" width="200" height=auto>
      <form method="post">
        {{form.hidden_tag()}}
        
        <div>
          {{ form.username(class="form-control", id="username", type="username", aria_describedby="usernameHelp", placeholder="Username") }} 
        </div>
        <div>
          {{ form.password(class="form-control", id="password", type="password", aria_describedby="passwordHelp", type="password", placeholder="Password") }}
          {% if error_message %}
          <small class="form-text text-muted mt-2 px-1">{{ error_message }}</small>
          {% endif %}
            {% if messages %}
                {% for message in messages %}
                  <small class="form-text text-danger mt-2 px-1">{{ message }}</small>
                {% endfor %}
            {% endif %}
        </div>
        
        <button class="btn mt-4 w-100 py-2 login-btn">
        Log in
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0z"></path>
          <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"></path>
        </svg>
      </button>
      </form>
    </main>
  
    {% endif %}


{% endblock %}
