{% extends "base.html" %} {% block page_title %} Αρχική Σελίδα {% endblock %} {%
block content %}

    {% if current_user.is_authenticated %}

    <main class="flex-shrink-0 m-auto py-3 flex-grow-1 bg-dark" style="width: 100%;">
        
        <div class="container px-4 pt-3 " id="custom-cards" >
     
          <div class="row row-cols-1 row-cols-lg-2 align-items-stretch g-4 py-4 text-bg-dark mt-1">
      
            <div class="col-12 col-lg-8 order-1 order-lg-1 text-light">
              <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-color: #EF539E;">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                  <h3 class="pt-0 mt-0 mb-4 lh-1" style="font-weight: 100;">{{ quote[0]['content']}}</h3>
                  <small class="ms-auto" style="font-style: italic">{{ quote[0]['author']}}</small>
                </div>
              </div>
            </div>
       
            <div class="col-12 col-md-6 col-lg-4 order-lg-2">
              <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-color: #F3E1D7;">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                  <h3 class="pt-0 mt-0 mb-4 display-6 lh-1 fw-bold">
                    {{ weather['current']['temperature'] }}°C
                    <img src="../static/_online_assets/weather_icons/{{ weather['current']['icon_num']}}.png" alt=""/>
                  </h3>
                  <p>{{ weather['daily']['data'][0]['summary'] }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        

        <div class="zd pt-5 container px-4 text-light align-items-stretch" id="icon-grid">
          {% if calendar_events | length > 0 %}
          <h2 class="pb-5 text-center" style="font-weight: 100; color: #EF539E;">There are {{ calendar_events | length }} scheduled appointments for today!</h2>
          <div id="calendar-controls" class="text-end">
            <button type="button" class="btn btn-outline-secondary me-1">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-compact-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M9.224 1.553a.5.5 0 0 1 .223.67L6.56 8l2.888 5.776a.5.5 0 1 1-.894.448l-3-6a.5.5 0 0 1 0-.448l3-6a.5.5 0 0 1 .67-.223"></path>
              </svg>
              <span class="visually-hidden">Previous</span>
            </button>

            <p class="" style="display: inline; font-size: 1.2rem;">{{ calendar_events[0].vobject_instance.vevent.dtstart.value.strftime("%Y-%m-%d") }}</p>
            <button type="button" class="btn btn-outline-secondary ms-1">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-compact-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M6.776 1.553a.5.5 0 0 1 .671.223l3 6a.5.5 0 0 1 0 .448l-3 6a.5.5 0 1 1-.894-.448L9.44 8 6.553 2.224a.5.5 0 0 1 .223-.671"></path>
              </svg>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
          <div class="flex-grow-1" style="overflow-x: auto;">
            <table class="table table-dark table-hover">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Time</th>
                  <th scope="col"></th>
                  <th scope="col">Details</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                {% for event in calendar_events %}
                {% set vevent = event.vobject_instance.vevent %}
                
                <tr>
                  <th scope="row">{{loop.index}}</th>
                  <td>{{ vevent.dtstart.value.strftime("%H:%M") }} - {{ vevent.dtend.value.strftime("%H:%M") }}</td>
                  <td>
                    <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="border-radius: 2rem; min-width: 2rem;">
                      <div class="progress-bar" style="background-color: #EF539E; width: {{ (vevent.dtend.value - vevent.dtstart.value).total_seconds() / 36 }}%; border-radius-left: 2rem;"></div>
                    </div>
                  </td>
                  <td>
                    {% if vevent.summary %}
                      {{ vevent.summary.value }}
                    {% else %}
                        No description available
                    {% endif %}
                    {% if vevent.location %}
                      <br>
                      <small class="text-muted">{{ vevent.location.value }}</small>                
                    {% endif %}
                  </td>
                  <td>
                    <button type="button" class="btn btn-outline-secondary px-4" onclick="performSearch(`{{ vevent.summary.value }}`)">

                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-bounding-box" viewBox="0 0 16 16">
                        <path d="M1.5 1a.5.5 0 0 0-.5.5v3a.5.5 0 0 1-1 0v-3A1.5 1.5 0 0 1 1.5 0h3a.5.5 0 0 1 0 1zM11 .5a.5.5 0 0 1 .5-.5h3A1.5 1.5 0 0 1 16 1.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 1-.5-.5M.5 11a.5.5 0 0 1 .5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 1 0 1h-3A1.5 1.5 0 0 1 0 14.5v-3a.5.5 0 0 1 .5-.5m15 0a.5.5 0 0 1 .5.5v3a1.5 1.5 0 0 1-1.5 1.5h-3a.5.5 0 0 1 0-1h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 1 .5-.5"/>
                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm8-9a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                      </svg>
                      <!-- Πελάτης {{loop.index}} -->
                    </button>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          {% else %}
          <h2 class="pb-2 border-bottom">No appointments today</h2>
          {% endif %}
        </div>

    </main>



    

    {% else %}
    <main class="form-signin w-100 m-auto pt-5">
      <img class="mb-4 mx-auto d-block" src="../static/_online_assets/logo.svg" alt="" width="200" height=auto>
      <form method="post">
        {{form.hidden_tag()}}
        
        <div>
          {{ form.username(class="form-control", id="username", type="username", aria_describedby="usernameHelp", placeholder="Username") }} 
        </div>
        <div>
          {{ form.password(class="form-control", id="password", type="password", aria_describedby="passwordHelp", type="password", placeholder="Password") }}
          {% if error_message %}
          <small class="form-text text-muted mt-2 px-1">{{ error_message }}</small>
          {% endif %}
            {% if messages %}
                {% for message in messages %}
                  <small class="form-text text-danger mt-2 px-1">{{ message }}</small>
                {% endfor %}
            {% endif %}
        </div>
        
        <button class="btn mt-4 w-100 py-2 login-btn">
        Log in
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0z"></path>
          <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"></path>
        </svg>
      </button>
      </form>
    </main>
  
    {% endif %}


{% endblock %}

{% block javascript %}
<script>
  function performSearch(searchQuery) {
    window.location.href = `/patient_search?query=${searchQuery}`;
      // fetch(`/search?query=${searchQuery}`)
      //     .then(response => response.json())
      //     .then(data => {
      //         if (data.results.length === 1) {
      //             window.location.href = `/single-result/${data.results[0].id}`;
      //         } else {
      //             window.location.href = '/multiple-results';
      //         }
      //     })
      //     .catch(error => console.error('Error:', error));
  }
</script>
{% endblock %}