{% macro render_field(label, value, field_type=None) %}
    {% if value is not none and value != 0 %}
        {% if field_type == 'TextAreaField' %}
            <span>{{ label }}</span>
            <pre class="formatted-text" style="padding: 0;">{{ value }}</pre>
        {% else %}
        <span>{{ label }}</span>
        {{ value }} <br>
        {% endif %}
    {% endif %}
{% endmacro %}
{% macro input_group(field_name, field_config, value) %}
    <div class="input-group">
        {% if field_config.type == 'select' %}
            <select id="{{ field_name }}Input" name="{{ field_name }}"{% if not value%}class="text-muted"{% endif %}>
                <option value="" class="text-muted">Επιλέξτε...</option>
                {% for option in field_config.options %}
                    <option value="{{ option.value }}" class="text-dark" {{ 'selected' if value == option.value else '' }}>
                        {{ option.label }}
                    </option>
                {% endfor %}
            </select>
            <label for="{{ field_name }}Input">{{ field_config.label }}</label>
        {% elif field_config.type == 'BooleanField' %}
            <input type="hidden" name="{{ field_name }}" value="False">
            <input type="checkbox"
                id="{{ field_name }}Input"
                name="{{ field_name }}"
                value="True"
                class="unstyled-checkbox"
                style="margin-left:0; float:left;"
                {% if value %}checked{% endif %}>
            <label for="{{ field_name }}Input">{{ field_config.label }}</label>
        {% elif field_config.type == 'TextAreaField' %}
            <label class="textarea-top-label" for="{{ field_name }}Input">{{ field_config.label }}</label>
            <textarea id="{{ field_name }}Input" name="{{ field_name }}" class="form-control expanding-textarea" rows="3">{% if value is not none %}{{ value }}{% endif %}</textarea>
        {% else %}
            <input type="{{ field_config.type }}"
                id="{{ field_name }}Input"
                name="{{ field_name }}"
                {% if value is not none and value != '' %}value="{{ value }}"{% endif %} required>
            <label for="{{ field_name }}Input">{{ field_config.label }}</label>
        {% endif %}
    </div>
{% endmacro %}
