{% extends "base.html" %} 

{% block page_title %} Καρτέλα Ασθενή {% endblock %}
{% block content %}

{% if current_user.is_authenticated %}

<main class="flex-shrink-0 m-auto flex-grow-1 bg-dark" style="width: 100%;">

    <div class="pt-2 container px-4 text-light" id="icon-grid">
        <h2 class="zd py-2 text-center">{{ patient.first_name | proper_case}} {{ patient.last_name | proper_case}}</h2>
    </div>


    <div class="container zd text-light">

        <!-- Row with the general history -->
        <div class=" container px-4" id="custom-cards"> 

            <!-- Row with the general history -->
            <div class="row row-cols-1 row-cols-lg-2 align-items-stretch g-4 py-3 text-bg-dark">
                
                
                <!-- Section with personal details for patient and partner -->
                <div class="col-12 col-lg-6 text-light">
                    <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg bg-dark">
                        <div class="d-flex flex-column h-100 text-shadow-1">

                            <!-- New content with slider card -->
                            <div class="container px-0 ">
                                <div class="form-container" style="position: relative; transition: max-height 0.2s ease-in-out;" id="formContainerPersonalDetails">

                                    <div class="read-only read-only-labels p-4" id="readOnlyContentPD">
                                        <h3 class="text-center mt-2">Προσωπικά Στοιχεία</h3>
                                        <p class="zd mt-0 pt-2">
                                            {% if patient.first_name or patient.last_name %}
                                                <span>Ονοματεπώνυμο:</span> {{ patient.first_name }} {{ patient.last_name }} <br>
                                            {% endif %}
                                            {% if patient.father_name %}
                                                <span>Πατρώνυμο:</span> {{ patient.father_name }} <br>
                                            {% endif %}
                                            {% if patient.date_of_birth %}
                                                <span>Ημερομηνία Γεννήσεως:</span> {{ patient.date_of_birth }} <br>
                                            {% endif %}
                                            {% if patient.marital_status %}
                                                <span>Οικογενειακή Κατάσταση:</span> {{ patient.marital_status }} <br>
                                            {% endif %}
                                            {% if patient.nationality %}
                                                <span>Εθνικότητα:</span> {{ patient.nationality }} <br>
                                            {% endif %}
                                            {% if patient.occupation %}
                                                <span>Επάγγελμα:</span> {{ patient.occupation }} <br>
                                            {% endif %}
                                            {% if patient.insurance or patient.insurance_comment %}
                                                <span>Ασφάλιση:</span> {{ patient.insurance }} / {{ patient.insurance_comment }} <br>
                                            {% endif %}
                                            {% if patient.amka %}
                                                <span>AMKA:</span> {{ patient.amka }} 
                                            {% endif %}
                                        </p>

                                        <h3 class="text-center">Στοιχεία Συντρόφου</h3>
                                        <p class="zd mt-0 pt-2">
                                            {% if patient.spouse_name %}
                                                <span>Ονοματεπώνυμο:</span> {{ patient.spouse_name }} <br>
                                            {% endif %}
                                            {% if patient.spouse_date_of_birth %}
                                                <span>Ημερομηνία Γεννήσεως / Ηλικία:</span> {{ patient.spouse_date_of_birth }} <br>
                                            {% endif %}
                                            {% if patient.spouse_occupation %}
                                                <span>Επάγγελμα:</span> {{ patient.spouse_occupation }}
                                            {% endif %}
                                        </p>
                                        
                                        <button class="btn btn-outline-secondary" onclick="toggleEditModePersonalDetails()">Επεξεργασία</button>
                                    </div>


                                    <div class="editable card card-cover overflow-hidden text-bg-dark rounded-4 shadow-lg" id="editableContentPD" style="display: none;">
                                        <div class="d-flex flex-column h-100 p-3 text-shadow-1">  
                                            <div class="wrapper">
                                                <div class="form-wrapper patient-lite px-2">

                                                    {% macro input_group(field_name, field_config, value) %}
                                                    <div class="input-group">
                                                        <input type="{{ field_config.type }}" 
                                                            id="{{ field_name }}Input"
                                                            value="{{ value if value else '' }}"
                                                            {% if field_config.type == 'email' %}placeholder="john.doe@example.com"{% endif %} required>
                                                        <label for="{{ field_name }}Input" class="form-label">{{ field_config.label }}:</label>
                                                    </div>
                                                    {% endmacro %}

                                                    <form>
                                                        <h2 class="text-center mt-2">Προσωπικά Στοιχεία</h2>
                                                        {% for field_name, field_config in personal_data_fields.items() %}
                                                            {{ input_group(field_name, field_config, getattr(patient, field_name)) }}
                                                        {% endfor %}

                                                        <h2 class="text-center mt-2">Στοιχεία Συντρόφου</h2>
                                                        {% for field_name, field_config in partner_data_fields.items() %}
                                                            {{ input_group(field_name, field_config, getattr(patient, field_name)) }}
                                                        {% endfor %}

                                                        <button type="button" class="btn login-btn mb-2" onclick="saveChangesPersonalDetails()">Αποθήκευση</button>
                                                        <button type="button" class="btn btn-outline-light mb-2" onclick="cancelChangesContactDetails()">Ακύρωση</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>  
                                    </div>


                                </div>
                            </div>
                            <!-- end of new content with slider card -->

                        </div>
                    </div>  
                </div>
                <!-- end of section with personal details for patient and partner -->

                <!-- Section with contact details -->
                <div class="col-12 col-lg-6 text-light">
                    <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg bg-dark">
                        <div class="d-flex flex-column h-100 text-shadow-1">

                            <!-- New content with slider card -->
                            <div class="container px-0 ">
                                <div class="form-container" style="position: relative; transition: max-height 0.2s ease-in-out;" id="formContainerContactDetails">

                                    <div class="read-only read-only-labels p-4" id="readOnlyContentCD">
                                        <h3 class="text-center mt-2">Στοιχεία Επικοινωνίας</h3>

                                        {% macro display_field(field_name, field_config, value) %}
                                            {% if value %}
                                                <span>{{ field_config.label }}:</span> {{ value }}<br>
                                            {% endif %}
                                        {% endmacro %}

                                        <p class="zd mt-0 pt-2">
                                            {% for field_name, field_config in contact_fields.items() %}
                                                {{ display_field(field_name, field_config, getattr(patient, field_name)) }}
                                            {% endfor %}
                                        </p>

                                        <button class="btn btn-outline-secondary mb-2" onclick="toggleEditModeContactDetails()">Επεξεργασία</button>
                                    </div>


                                    <div class="editable card card-cover overflow-hidden text-bg-dark rounded-4 shadow-lg" id="editableContentCD" style="display: none;">
                                        <div class="d-flex flex-column h-100 p-3 text-shadow-1">  
                                            <div class="wrapper">
                                                <div class="form-wrapper patient-lite px-2">
                                                    <form>
                                                        <h2 class="text-center mt-2">Στοιχεία Επικοινωνίας</h2>
                                                        {% for field_name, field_config in contact_fields.items() %}
                                                            {{ input_group(field_name, field_config, getattr(patient, field_name)) }}
                                                        {% endfor %}
                                                        <button type="button" class="btn login-btn mb-2" onclick="saveChangesContactDetails()">Αποθήκευση</button>
                                                        <button type="button" class="btn btn-outline-light mb-2" onclick="cancelChangesContactDetails()">Ακύρωση</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>  
                                    </div>


                                </div>
                            </div>
                            <!-- end of new content with slider card -->

                        </div>
                    </div>  
                </div>
                <!-- end of section with contact details -->

                

            </div>
            <!-- end of row with the general history -->

        </div>
    </div>

    <div class="container zd text-light py-5" style="text-align: center;">
        <div class="container justify-content-center" style="display: inline-flex; text-align: center;">
        <ul class="nav nav-pills mb-3 bg-light p-2 secondary-nav-container" id="pills-tab" role="tablist">
            <li class="nav-item"  role="presentation">
              <button class="nav-link active" style="border-radius: 5rem;" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Ιατρικό Ιστορικό</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" style="border-radius: 5rem;" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Μαιευτικό Ιστορικό</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" style="border-radius: 5rem;" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Κύηση</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" style="border-radius: 5rem;" id="pills-disabled-tab" data-bs-toggle="pill" data-bs-target="#pills-disabled" type="button" role="tab" aria-controls="pills-disabled" aria-selected="false" >Γυναικολογικό Ιστορικό</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" style="border-radius: 5rem;" id="pills-disabled-tab" data-bs-toggle="pill" data-bs-target="#pills-disabled" type="button" role="tab" aria-controls="pills-disabled" aria-selected="false">Αρχεία</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" style="border-radius: 5rem;" id="pills-disabled-tab" data-bs-toggle="pill" data-bs-target="#pills-disabled" type="button" role="tab" aria-controls="pills-disabled" aria-selected="false">Εξετάσεις</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" style="border-radius: 5rem;" id="pills-disabled-tab" data-bs-toggle="pill" data-bs-target="#pills-disabled" type="button" role="tab" aria-controls="pills-disabled" aria-selected="false">Ραντεβού</button>
            </li>
        </ul>
        </div>
          <div class="tab-content p-3" style="text-align: left;" id="pills-tabContent">
            <div class="tab-pane fade show active rounded-4 m-2" style="border-color: #EF539E;" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis accusantium voluptates, facere animi, eveniet consectetur hic veniam, dolores perferendis iusto doloremque? Eos atque veniam necessitatibus vel sapiente laboriosam quod rem.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores cumque fugit vero ducimus saepe unde officiis impedit, optio quisquam ullam doloribus repellat provident sunt incidunt repudiandae dignissimos mollitia placeat perspiciatis?
                </p>
            </div>
            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse, quasi enim mollitia doloribus praesentium dolores aut nostrum atque. Eveniet praesentium mollitia, quasi quia maxime expedita impedit odit sed modi? Quisquam.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti et ipsum ratione harum ab, quia atque repellendus voluptate illo a soluta nesciunt ipsa rem necessitatibus nulla, aliquam, maxime natus nihil?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa saepe illo ratione mollitia nobis. Impedit obcaecati itaque qui quam voluptate, iure ipsum nobis reiciendis repellendus cum quibusdam aperiam repellat dolorem!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo esse praesentium id necessitatibus iusto nesciunt sit? Nam, qui illum! Culpa et consequatur libero sequi quae inventore incidunt perferendis vero ducimus?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis accusantium voluptates, facere animi, eveniet consectetur hic veniam, dolores perferendis iusto doloremque? Eos atque veniam necessitatibus vel sapiente laboriosam quod rem.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores cumque fugit vero ducimus saepe unde officiis impedit, optio quisquam ullam doloribus repellat provident sunt incidunt repudiandae dignissimos mollitia placeat perspiciatis?
                </p>
            </div>
            <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab" tabindex="0">...</div>
            <div class="tab-pane fade" id="pills-disabled" role="tabpanel" aria-labelledby="pills-disabled-tab" tabindex="0">...</div>
          </div>
    </div>
</main>
{% else %}
    <div class="container mt-5 pt-5">
        <p class="text-danger">You are not logged in</p>
    </div>
{% endif %}

{% endblock %}

{% block javascript %}
<script>
    function toggleEditModePersonalDetails() {
        const formContainer = document.getElementById('formContainerPersonalDetails');
        const readOnlyContent = document.getElementById('readOnlyContentPD');
        const editableContent = document.getElementById('editableContentPD');

        if (editableContent.style.display === 'none') {
            editableContent.style.display = 'block';
            readOnlyContent.style.display = 'none';
            formContainer.style.maxHeight = editableContent.scrollHeight + 'px';
        } else {
            editableContent.style.display = 'none';
            readOnlyContent.style.display = 'block';
            formContainer.style.maxHeight = readOnlyContent.scrollHeight + 'px';
        }
    }

    function toggleEditModeContactDetails() {
        const formContainer = document.getElementById('formContainerContactDetails');
        const readOnlyContent = document.getElementById('readOnlyContentCD');
        const editableContent = document.getElementById('editableContentCD');

        if (editableContent.style.display === 'none') {
            editableContent.style.display = 'block';
            readOnlyContent.style.display = 'none';
            formContainer.style.maxHeight = editableContent.scrollHeight + 'px';
        } else {
            editableContent.style.display = 'none';
            readOnlyContent.style.display = 'block';
            formContainer.style.maxHeight = readOnlyContent.scrollHeight + 'px';
        }
    }


    async function savePatientDetails(formContainerId) {
        const form = document.querySelector(`#${formContainerId} form`);
        const patientId = '{{ patient.id }}';  // Get ID directly from template
        const formData = {};
        
        // Get all input fields
        form.querySelectorAll('input').forEach(input => {
            const fieldName = input.id.replace('Input', '');
            const snakeCase = fieldName.replace(/[A-Z]/g, letter => `_${letter.toLowerCase()}`);
            formData[snakeCase] = input.value;
        });

        try {
            const response = await fetch(`/api/patients/${patientId}`, {
                method: 'PUT',
                headers: { 
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(formData)
            });

            if (!response.ok) {
                throw new Error(`HTTP error! status: ${response.status}`);
            }

            const data = await response.json();
            
            if (data.success) {
                location.reload();
            } else {
                throw new Error(data.error || 'Update failed');
            }
        } catch (error) {
            console.error('Error:', error);
            alert(`Failed to update contact details: ${error.message}`);
        }
    }
    
    async function saveChangesPersonalDetails() {
        await savePatientDetails('editableContentPD');
    }

    // Section-specific handlers
    async function saveChangesContactDetails() {
        await savePatientDetails('editableContentCD');
    }

    async function cancelChangesContactDetails() {
        location.reload();
    }

    

    document.addEventListener('DOMContentLoaded', () => {
        const formContainer = document.getElementById('formContainerPersonalDetails');
        const readOnlyContent = document.getElementById('readOnlyContentPD');
        formContainer.style.maxHeight = readOnlyContent.scrollHeight + 'px';
    });

    document.addEventListener('DOMContentLoaded', () => {
        const formContainer = document.getElementById('formContainerContactDetails');
        const readOnlyContent = document.getElementById('readOnlyContentCD');
        formContainer.style.maxHeight = readOnlyContent.scrollHeight + 'px';
    });
</script>
{% endblock %}