{% extends "base.html" %}

{% block page_title %} Διαχείριση χρήστη {% endblock %}

{% block content %}

    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container mt-5" style="width: 80%;">

            <div class="d-flex align-items-start">
                <form method="post" class="mt-4" id="updateForm">
                    {{updateform.hidden_tag()}}

                    {{ updateform.username(class="form-control", id="username", type="text", value = current_user.username, hidden = True)}}


                    <div class="row">
                        <div class="col mb-3">
                            {{ updateform.old_password(class="form-control", id="old_password", aria_describedby="passwordHelp", type="password", placeholder="Type your old password") }}
                        </div>

                    </div>

                    <!-- Update the password for the selected user -->
                    <div class="row">
                        <div class="col-lg-6 col-12 mb-3">
                            {{ updateform.password(class="form-control", id="password", aria_describedby="passwordHelp", type="password", placeholder="Type your new password") }}
                        </div>

                        <div class="col-lg-6 col-12 mb-3">
                            {{ updateform.pass_confirm(class="form-control", id="pass_confirm", type="password", placeholder="Re-enter password") }}
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col">
                            {% if updateform.password.errors %}
                            <div class="errors">
                            {% for error in updateform.password.errors %}
                                <small class="text-muted">{{error}}</small>
                            {% endfor %}
                            </div>
                            {% endif %}

                            {% if messages %}
                            <div class="errors">
                                {% for message in messages %}
                                    <small class="text-muted">{{message}}</small>
                                {% endfor %}
                            </div>
                            {% endif %}
                        </div>
                    </div>


                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#updateModal" id = "updateUserButton">Update Password</button>

                    <!-- Modal -->
                    <div class="modal fade" id="updateModal" tabindex="-1" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-body" id="modalBodyUpdate">Are you sure you want to update the password for <em>{{current_user.username}}</em>?</div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                    <button type="submit" name="action" value="update" class="btn btn-primary">Update</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>





        </div>
    </div>
{% endblock %}
{% block javascript %}

<script>

    // Function to check if the delete user input matches any of the datalist options
    document.addEventListener('DOMContentLoaded', function () {
        var userInput = document.getElementById('userlist');
        var deleteButton = document.getElementById('deleteUserButton');

        // Function to check if the input matches any of the datalist options
        function validateInput() {
            var isValid = false;
            var options = document.querySelectorAll('#datalistOptions option');
            for (var i = 0; i < options.length; i++) {
                if (userInput.value === options[i].value) {
                    isValid = true;
                    break;
                }
            }
            deleteButton.disabled = !isValid;
        }

        // Attach event listener to the user input field
        userInput.addEventListener('input', validateInput);
    });
</script>

{% endblock %}
