{% extends "base.html" %}

{% block page_title %} Διαχείριση χρήστη {% endblock %}

{% block content %}
<main class="flex-shrink-0 m-auto flex-grow-1">
    <div class="container zd text-light py-5" style="text-align: center;">
        <div class="tab-content p-3" style="text-align: left;" id="pills-tabContent">
            <div class="tab-pane show active rounded-4 m-2 form-wrapper patient-lite p-3 py-5" id="pills-update" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">
                <h2 class="text-center">Αλλαγή Κωδικού Χρήστη</h2>
                <form method="post" class="mt-4 px-3" id="updateForm">
                    {{updateform.hidden_tag()}}
                    {{ updateform.username(class="", id="username", type="text", value=current_user.username, hidden=True) }}
                    <div class="input-group mb-3">
                        {{ updateform.old_password(class="", id="old_password", aria_describedby="passwordHelp", type="password", placeholder=" ") }}
                        <label for="old_password">Παλαιός Κωδικός</label>
                    </div>
                    <div class="row mb-3 ">
                        <div class="col-lg-6 col-12">
                            <div class="input-group mb-3">
                                {{ updateform.password(class="", id="password", aria_describedby="passwordHelp", type="password", placeholder=" ") }}
                                <label for="password">Νέος Κωδικός</label>
                            </div>
                            {% if updateform.password.errors %}
                            <div class="errors">
                                {% for error in updateform.password.errors %}
                                <small id="passwordHelp" class="form-text text-warning">{{error}}</small>
                                {% endfor %}
                            </div>
                            {% endif %}
                        </div>
                        <div class="col-lg-6 col-12">
                            <div class="input-group mb-3">
                                {{ updateform.pass_confirm(id="pass_confirm", type="password", placeholder=" ") }}
                                <label for="pass_confirm">Επαναλάβετε Κωδικό</label>
                            </div>
                        </div>
                    </div>
                    {% if updateform.password.errors or messages %}
                    <div class="mb-3">
                        {% if updateform.password.errors %}
                        <div class="errors">
                            {% for error in updateform.password.errors %}
                            <small class="text-warning">{{error}}</small>
                            {% endfor %}
                        </div>
                        {% endif %}
                        {% if messages %}
                        <div class="errors">
                            {% for message in messages %}
                            <small class="text-warning">{{message}}</small>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                    {% endif %}
                    <div class="row">
                        <div class="col text-center">
                            <button type="button" class="btn login-btn px-5" data-bs-toggle="modal" data-bs-target="#updateModal" id="updateUserButton">
                            Αλλαγή Κωδικού
                            </button>
                        </div>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade" id="updateModal" tabindex="-1" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content bg-dark">
                                <div class="modal-body text-center" id="modalBodyUpdate">
                                    Are you sure you want to update the password for <em>{{current_user.username}}</em>?
                                </div>
                                <div class="modal-footer justify-content-center">
                                    <button type="button" class="btn btn-secondary px-5" data-bs-dismiss="modal">
                                        Cancel
                                    </button>
                                    <button type="submit" name="action" value="update" class="btn login-btn px-5">
                                        Update
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock %}
{% block javascript %}
{% endblock %}
